/* CSS Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Border-box reset */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ----------- */
/* Project CSS */
/* ----------- */

/* Page Layout */

.hero-div {
  background: url('./imgs/hero.jpg');
  background-position: 50% 100%;
  background-size: 1440px auto;
  width: 100vw;
  height: 538px;
}

@media all and (min-width: 1440px) {
  /* let the image grow */
  .hero-div {
    background-size: 100% auto;
  }
}

/* NEXT: MAKE IT SO ALL ELEMENTS DON'T RECENTER AFTER THE WINDOW GETS SMALL */

.nav {
  width: 980px;
  height: 36px;
  margin: 0 auto;
  position: relative;
  top: 20px;
}

.hero-text-container {
  position: relative;
  top: 50px;
  width: 100vw;
}

.products-flex {
  background-color: rebeccapurple;
  width: 100vw;
  min-width: 1025px;
  height: 200px;
  display: flex;
}

.footer-container {
  background-color: yellowgreen;
  width: 100vw;
  min-width: 1025px;
  height: 90px;
}

/* Hero Text */

h1,
h2,
h3 {
  text-align: center;
  white-space: nowrap;
  color: white;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

/* Nav Layout */

.nav {
  display: flex;
  background: linear-gradient(
    0deg,
    rgb(104, 104, 104),
    rgb(94, 94, 94) 50%,
    rgb(112, 112, 112) 50%,
    rgb(141, 141, 141)
  );
}

.nav-item {
  flex: 1;
}

.nav li {
  color: white;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Products flex */

.product-item {
  flex: 1;
  border: 1px solid greenyellow;
}

/* Footer */

.footer-container {
  display: flex;
}

.left,
.right {
  flex-grow: 1;
  flex-basis: 512px;
  border: 1px solid hotpink;
}

.footer-list li {
  margin-bottom: 20px;
}
